 .u-section-1 {
  background-image: url("images/1db315228240eb2ed1a3432ab564f4f6.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1 .u-image-1 {
  width: 645px;
  height: 817px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 30px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 468px;
  margin: -774px 0 262px auto;
}

.u-section-1 .u-text-1 {
  margin: 15px 20px 0 0;
}

.u-section-1 .u-image-2 {
  width: 145px;
  height: 15px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 45px auto 15px 0;
  padding: 15px 39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-image-1 {
    width: 509px;
    height: 666px;
  }

  .u-section-1 .u-group-1 {
    width: 525px;
    margin-top: -625px;
    margin-bottom: 125px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 3.75rem;
    margin-top: 28px;
    margin-right: 16px;
  }

  .u-section-1 .u-image-2 {
    width: 143px;
    height: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-image-1 {
    width: 514px;
    height: 654px;
    margin-top: 65px;
  }

  .u-section-1 .u-group-1 {
    width: 389px;
    min-height: 478px;
    margin-top: -644px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 39px;
    margin-right: 5px;
  }

  .u-section-1 .u-image-2 {
    width: 141px;
    height: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 33px;
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-1 .u-image-1 {
    width: 507px;
    height: 593px;
    margin-top: 440px;
  }

  .u-section-1 .u-group-1 {
    min-height: 410px;
    margin-top: -979px;
    margin-bottom: 569px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 45px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-image-2 {
    width: 143px;
    height: 26px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 9px;
    margin-right: 9px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-1 .u-image-1 {
    height: 480px;
    margin-top: 542px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 511px;
    margin-top: -991px;
    margin-bottom: 410px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 50px;
    margin-right: 6px;
    margin-left: 3px;
  }

  .u-section-1 .u-image-2 {
    width: 142px;
    height: 29px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 50px;
    margin-left: 8px;
  }
} .u-section-2 {
  min-height: 381px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 381px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-text-1 {
  margin: 30px 20px 0 0;
}

.u-section-2 .u-image-1 {
  width: 103px;
  height: 15px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-link-1 {
  letter-spacing: 1px;
  padding-bottom: 2px;
  font-style: italic;
  margin: 40px auto 30px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 381px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-text-3 {
  margin: 30px 20px 0 0;
}

.u-section-2 .u-image-2 {
  width: 103px;
  height: 15px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-link-2 {
  letter-spacing: 1px;
  padding-bottom: 2px;
  font-style: italic;
  margin: 40px auto 30px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 381px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-2 .u-text-5 {
  margin: 30px 20px 0 0;
}

.u-section-2 .u-image-3 {
  width: 103px;
  height: 15px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-link-3 {
  letter-spacing: 1px;
  padding-bottom: 2px;
  font-style: italic;
  margin: 40px auto 30px 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 381px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 20px;
}

.u-section-2 .u-text-7 {
  margin: 30px 20px 0 0;
}

.u-section-2 .u-image-4 {
  width: 103px;
  height: 15px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-link-4 {
  letter-spacing: 1px;
  padding-bottom: 2px;
  font-style: italic;
  margin: 40px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-image-1 {
    width: 85px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-link-1 {
    position: relative;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-image-2 {
    width: 85px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-2 .u-link-2 {
    position: relative;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-image-3 {
    width: 85px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 16px;
  }

  .u-section-2 .u-link-3 {
    position: relative;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-7 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-image-4 {
    width: 85px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 16px;
  }

  .u-section-2 .u-link-4 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-image-1 {
    width: 65px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-2 .u-image-2 {
    width: 65px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-2 .u-image-3 {
    width: 65px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 13px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 13px;
  }

  .u-section-2 .u-image-4 {
    width: 65px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-image-1 {
    width: 119px;
    height: 35px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 9px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-2 .u-image-2 {
    width: 119px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 9px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 9px;
  }

  .u-section-2 .u-image-3 {
    width: 119px;
    height: 26px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 9px;
  }

  .u-section-2 .u-image-4 {
    width: 119px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-2 .u-image-1 {
    width: 126px;
    height: 22px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 13px;
    margin-right: 6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-2 .u-image-2 {
    width: 126px;
    height: 22px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 13px;
    margin-right: 6px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-2 .u-image-3 {
    width: 126px;
    height: 22px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 13px;
    margin-right: 6px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 6px;
  }

  .u-section-2 .u-image-4 {
    width: 126px;
    height: 22px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 13px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 423px;
}

.u-section-3 .u-group-1 {
  width: 535px;
  min-height: 346px;
  background-image: none;
  box-shadow: 0 0 40px 0 rgba(64,64,64,0.25);
  margin: 24px auto;
}

.u-section-3 .u-icon-1 {
  height: 94px;
  width: 94px;
  margin: 26px auto 0 26px;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  line-height: 1.7;
  margin: -41px 40px 79px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 16px;
}

.u-section-3 .u-text-2 {
  margin: 40px 14px 0 26px;
}

.u-section-3 .u-image-1 {
  width: 144px;
  height: 4px;
  margin: 20px auto 0 26px;
}

.u-section-3 .u-text-3 {
  margin: 40px 14px 40px 26px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 441px;
  }

  .u-section-3 .u-icon-1 {
    height: 78px;
    width: 78px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 12px;
    margin-left: 21px;
  }

  .u-section-3 .u-image-1 {
    width: 119px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-right: 12px;
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-3 .u-group-1 {
    width: 338px;
  }

  .u-section-3 .u-icon-1 {
    height: 59px;
    width: 59px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 96px;
    height: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin: 26px 9px 50px 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-3 .u-group-1 {
    min-height: 309px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-icon-1 {
    height: 56px;
    width: 56px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 589px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-top: 208px;
    margin-right: 7px;
  }

  .u-section-3 .u-image-1 {
    width: 140px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 7px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 4px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-3 .u-group-1 {
    width: 332px;
    min-height: 391px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-1 {
    height: 47px;
    width: 47px;
    margin-left: 8px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 147px;
    margin-right: 4px;
  }

  .u-section-3 .u-image-1 {
    width: 142px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 4px;
  }
} .u-section-4 {
  background-image: url("images/d4f899c6935f7367e06c143578e68166.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 670px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 65px auto 10px 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 560px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 12px;
}

.u-section-4 .u-text-1 {
  margin: 40px 14px 0 26px;
}

.u-section-4 .u-image-1 {
  width: 144px;
  height: 4px;
  margin: 20px auto 0 26px;
}

.u-section-4 .u-text-2 {
  margin: 40px 14px 40px 26px;
}

.u-section-4 .u-btn-1 {
  margin-left: 26px;
  margin-right: 26px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/f95eb83b76c0f1b2f7fb919ee7dcaee7.jpeg");
  min-height: 280px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  background-image: url("images/e6c823fb9c35dd7bb63e44ece28f0b40.jpeg");
  min-height: 280px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-4 {
  background-image: url("images/fc6bf4f066d2b28f515e43f1a4e74f3a.jpeg");
  min-height: 280px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-5 {
  background-image: url("images/ecb0b73ecff5ac075e717b001e707411.jpeg");
  min-height: 280px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 12px;
    margin-left: 21px;
  }

  .u-section-4 .u-image-1 {
    width: 119px;
    margin-left: 21px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 12px;
    margin-left: 21px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 21px;
    margin-right: 21px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 24px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 94px;
    height: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin: 24px 9px 0 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 12px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 7px;
  }

  .u-section-4 .u-image-1 {
    width: 128px;
    height: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 30px;
    margin-right: 7px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 4px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 55px;
    margin-right: 4px;
  }

  .u-section-4 .u-image-1 {
    width: 149px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 4px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-right: 8px;
    margin-bottom: 55px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 622px;
}

.u-section-5 .u-group-1 {
  width: 990px;
  min-height: 161px;
  margin: 33px auto 0 62px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  margin: 15px 20px 0;
}

.u-section-5 .u-image-1 {
  width: 192px;
  height: 10px;
  margin: 24px auto 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 20px 20px 15px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 35px auto 22px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 371px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-icon-1 {
  height: 81px;
  width: 81px;
  margin: 35px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 35px 20px 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 20px 35px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 371px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-icon-2 {
  height: 81px;
  width: 81px;
  margin: 62px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 35px 20px 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 20px 35px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 371px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-icon-3 {
  height: 81px;
  width: 81px;
  margin: 35px auto 0;
}

.u-section-5 .u-text-7 {
  margin: 35px 20px 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 20px 35px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 816px;
    margin-left: 51px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-1 {
    width: 158px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    height: 67px;
    width: 67px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-icon-2 {
    height: 67px;
    width: 67px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-icon-3 {
    height: 67px;
    width: 67px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 625px;
    min-height: 186px;
    margin-left: 39px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-image-1 {
    width: 179px;
    height: 15px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-icon-1 {
    height: 51px;
    width: 51px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-icon-2 {
    height: 51px;
    width: 51px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-icon-3 {
    height: 51px;
    width: 51px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 511px;
    margin-left: 29px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-image-1 {
    width: 178px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-icon-1 {
    height: 48px;
    width: 48px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-icon-2 {
    height: 48px;
    width: 48px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-icon-3 {
    height: 48px;
    width: 48px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 322px;
    min-height: 211px;
    margin-left: 18px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-image-1 {
    width: 164px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-6 {
  background-image: url("images/c81d1bdb4c7adff693638f4d62d438ce.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 670px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 65px auto 10px 0;
}

.u-section-6 .u-layout-cell-1 {
  background-image: none;
  min-height: 560px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 8px;
}

.u-section-6 .u-text-1 {
  margin: 109px 14px 0 26px;
}

.u-section-6 .u-image-1 {
  width: 144px;
  height: 4px;
  margin: 20px auto 0 26px;
}

.u-section-6 .u-text-2 {
  margin: 40px 14px 0 26px;
}

.u-section-6 .u-btn-1 {
  margin: 34px auto 0 26px;
}

.u-section-6 .u-image-2 {
  min-height: 560px;
  background-image: url("images/c86a63d2a2fe2bf71e65aab1bb6efb23.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 7px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 12px;
    margin-left: 21px;
  }

  .u-section-6 .u-image-1 {
    width: 119px;
    margin-left: 21px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-right: 12px;
    margin-left: 21px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 21px;
    margin-right: 21px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 21px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 108px;
    height: 14px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 30px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 110px;
    margin-right: 4px;
  }

  .u-section-6 .u-image-1 {
    width: 130px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 4px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 1px;
  }

  .u-section-6 .u-image-1 {
    width: 127px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 1px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 8px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 924px;
}

.u-section-7 .u-group-1 {
  width: 990px;
  min-height: 161px;
  margin: 33px auto 0 62px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  margin: 15px 20px 0;
}

.u-section-7 .u-image-1 {
  width: 192px;
  height: 10px;
  margin: 24px auto 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  margin: 20px 20px 15px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 35px auto 62px 0;
}

.u-section-7 .u-image-2 {
  background-image: url("images/605d97c71414537f3bd7c6d775744bc2.jpeg");
  min-height: 400px;
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 218px;
}

.u-section-7 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  font-style: italic;
  margin: 20px;
}

.u-section-7 .u-layout-cell-3 {
  background-image: none;
  min-height: 44px;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-image-3 {
  background-image: url("images/943fcad756398cdf929787f318b609c5.jpeg");
  min-height: 400px;
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-5 {
  background-image: none;
  min-height: 174px;
}

.u-section-7 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-7 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
}

.u-section-7 .u-image-4 {
  background-image: url("images/be804edb57c91ac7e8d8beb978f407bd.jpeg");
  min-height: 400px;
  background-position: 50% 50%;
}

.u-section-7 .u-layout-cell-7 {
  min-height: 218px;
  background-image: none;
}

.u-section-7 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-7 .u-text-8 {
  font-style: italic;
  margin: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 816px;
    margin-left: 51px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-image-1 {
    width: 158px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-7 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-7 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-7 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-7 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 625px;
    min-height: 186px;
    margin-left: 39px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-1 {
    width: 157px;
    height: 15px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 511px;
    margin-left: 29px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-image-1 {
    width: 155px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2195px;
  }

  .u-section-7 .u-group-1 {
    min-height: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-top: 22px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-image-1 {
    width: 231px;
    height: 10px;
  }

  .u-section-7 .u-text-2 {
    margin: 20px 6px 23px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-8 {
  background-image: linear-gradient(-90deg, #4ec7a4, #2ea7a2);
}

.u-section-8 .u-sheet-1 {
  min-height: 104px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 104px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 159px;
  min-width: 124px;
  margin: 10px auto 10px 20px;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 104px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-form-1 {
  height: 47px;
  margin: 10px 0 10px 100px;
}

.u-section-8 .u-input-1 {
  border-radius: 50px;
}

.u-section-8 .u-input-2 {
  border-radius: 50px;
}

.u-section-8 .u-btn-1 {
  background-image: linear-gradient(to right, white, white);
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-social-icons-1 {
    margin-left: 16px;
  }

  .u-section-8 .u-form-1 {
    margin-left: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-social-icons-1 {
    margin-left: 13px;
  }

  .u-section-8 .u-form-1 {
    margin-left: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 97px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 246px;
  }

  .u-section-8 .u-form-1 {
    width: 493px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-form-1 {
    height: 166px;
    margin-top: 32px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 563px;
}

.u-section-9 .u-group-1 {
  width: 990px;
  min-height: 161px;
  margin: 33px auto 0 62px;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-1 {
  margin: 15px 20px 0;
}

.u-section-9 .u-image-1 {
  width: 192px;
  height: 10px;
  margin: 24px auto 0;
}

.u-section-9 .u-text-2 {
  font-style: italic;
  margin: 20px 20px 15px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 35px auto 0 0;
}

.u-section-9 .u-layout-cell-1 {
  background-image: none;
  min-height: 364px;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-group-2 {
  width: 508px;
  min-height: 258px;
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(153,153,153,0.4);
  margin: 40px 20px 0 auto;
}

.u-section-9 .u-text-3 {
  margin: 49px 15px 0 224px;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  margin: 24px 15px 0 224px;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 91px;
  min-width: 68px;
  margin: 13px 15px 0 auto;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

.u-section-9 .u-image-2 {
  width: 272px;
  height: 301px;
  margin-top: -252px;
  margin-right: auto;
  margin-left: 0;
}

.u-section-9 .u-layout-cell-2 {
  background-image: none;
  min-height: 364px;
}

.u-section-9 .u-group-3 {
  width: 508px;
  min-height: 258px;
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(153,153,153,0.4);
  margin: 40px 20px 0 auto;
}

.u-section-9 .u-text-5 {
  margin: 49px 15px 0 224px;
}

.u-section-9 .u-text-6 {
  font-weight: 700;
  margin: 24px 15px 0 224px;
}

.u-section-9 .u-social-icons-2 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 91px;
  min-width: 68px;
  margin: 13px 15px 0 auto;
}

.u-section-9 .u-icon-4 {
  height: 100%;
}

.u-section-9 .u-icon-5 {
  height: 100%;
}

.u-section-9 .u-icon-6 {
  height: 100%;
}

.u-section-9 .u-image-3 {
  width: 272px;
  height: 301px;
  margin-top: -252px;
  margin-right: auto;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 816px;
    margin-left: 51px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-image-1 {
    width: 169px;
    height: 15px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 15px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-group-2 {
    width: 418px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 12px;
    margin-left: 185px;
  }

  .u-section-9 .u-text-4 {
    position: relative;
    margin-right: 12px;
    margin-left: 185px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-right: 12px;
  }

  .u-section-9 .u-image-2 {
    width: 257px;
    height: 309px;
    margin-top: -260px;
    margin-bottom: 0;
  }

  .u-section-9 .u-group-3 {
    width: 418px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 12px;
    margin-left: 185px;
  }

  .u-section-9 .u-text-6 {
    position: relative;
    margin-right: 12px;
    margin-left: 185px;
  }

  .u-section-9 .u-social-icons-2 {
    margin-right: 12px;
  }

  .u-section-9 .u-image-3 {
    width: 257px;
    height: 309px;
    margin-top: -260px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 625px;
    min-height: 186px;
    margin-left: 39px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-image-1 {
    width: 184px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-group-2 {
    width: 321px;
    min-height: 308px;
    margin-right: auto;
  }

  .u-section-9 .u-text-3 {
    position: relative;
    margin-right: 9px;
    margin-left: 141px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 9px;
    margin-left: 141px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-right: 9px;
  }

  .u-section-9 .u-image-2 {
    width: 239px;
    height: 334px;
    margin-top: -285px;
  }

  .u-section-9 .u-group-3 {
    width: 321px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 9px;
    margin-left: 141px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 9px;
    margin-left: 141px;
  }

  .u-section-9 .u-social-icons-2 {
    margin-right: 9px;
  }

  .u-section-9 .u-image-3 {
    width: 247px;
    height: 332px;
    margin-top: -283px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 511px;
    margin-left: 29px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-image-1 {
    width: 114px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-group-2 {
    width: 521px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 15px;
    margin-left: 192px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 18px;
    margin-right: 15px;
    margin-left: 319px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 15px;
    margin-right: 15px;
  }

  .u-section-9 .u-image-2 {
    width: 312px;
    height: 348px;
    margin-top: -245px;
  }

  .u-section-9 .u-group-3 {
    width: 521px;
    min-height: 308px;
    margin-right: auto;
  }

  .u-section-9 .u-text-5 {
    margin-right: 15px;
    margin-left: 200px;
  }

  .u-section-9 .u-text-6 {
    margin-top: 18px;
    margin-right: 15px;
    margin-left: 319px;
  }

  .u-section-9 .u-social-icons-2 {
    margin-top: 16px;
    margin-right: 18px;
  }

  .u-section-9 .u-image-3 {
    width: 303px;
    height: 350px;
    margin-top: -248px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1187px;
  }

  .u-section-9 .u-group-1 {
    width: 322px;
    min-height: 211px;
    margin-left: 18px;
  }

  .u-section-9 .u-text-1 {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-image-1 {
    width: 155px;
    height: 21px;
    margin-top: 18px;
  }

  .u-section-9 .u-text-2 {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-9 .u-group-2 {
    width: 334px;
    min-height: 358px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 4px;
    margin-left: 138px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 15px;
    margin-right: 4px;
    margin-left: 138px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-right: 4px;
  }

  .u-section-9 .u-image-2 {
    width: 253px;
    height: 383px;
    margin-top: -277px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 468px;
  }

  .u-section-9 .u-group-3 {
    width: 334px;
    min-height: 358px;
    margin-left: 0;
  }

  .u-section-9 .u-text-5 {
    margin-right: 4px;
    margin-left: 138px;
  }

  .u-section-9 .u-text-6 {
    margin-top: 15px;
    margin-right: 4px;
    margin-left: 138px;
  }

  .u-section-9 .u-social-icons-2 {
    margin-top: 15px;
    margin-right: 15px;
  }

  .u-section-9 .u-image-3 {
    width: 262px;
    height: 380px;
    margin-top: -274px;
  }
} .u-section-10 {
  background-image: url("images/e097a691a963d5bcb1d23a1b4ae6dfb0.png");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 687px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 135px auto 50px 0;
}

.u-section-10 .u-image-1 {
  background-image: url("images/20bd3a6ff1beb4417fbded618cd0d265.jpeg");
  min-height: 532px;
  background-position: 50% 50%;
}

.u-section-10 .u-layout-cell-2 {
  background-image: none;
  min-height: 532px;
}

.u-section-10 .u-container-layout-2 {
  padding-left: 9px;
}

.u-section-10 .u-text-1 {
  margin: 50px 20px 0;
}

.u-section-10 .u-image-2 {
  width: 145px;
  height: 15px;
  margin: 29px auto 0 20px;
}

.u-section-10 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-10 .u-btn-1 {
  background-image: linear-gradient(to right, white, white);
  margin: 40px auto 50px 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 147px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 7px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-10 .u-image-2 {
    width: 120px;
    margin-left: 16px;
  }

  .u-section-10 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-1 {
    background-position: 31.54% 50%;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 13px;
    margin-left: 13px;
  }

  .u-section-10 .u-image-2 {
    width: 92px;
    margin-left: 13px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 13px;
    margin-left: 13px;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-10 .u-image-2 {
    width: 131px;
    height: 18px;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-top: 17px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-container-layout-2 {
    padding-left: 3px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-10 .u-image-2 {
    width: 122px;
    height: 19px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 16px;
    margin-right: 6px;
  }
}